# Docker backend URL (used in docker-compose.yml)
BACKEND_URL=https://disclose-heaving-disloyal.ngrok-free.dev

# Vite environment variables (used in dev mode)
VITE_BASE_URL=nhcx/api/v1/insurance
VITE_USE_MOCK=false
